.slogan-wrapper {
  margin: 40px 0px 60px;
  border-radius: 25px;
  height: 225px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sloganHome {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../public/assets/background.png);
}
.sloganAbout {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../public/assets/kalen-emsley-Bkci_8qcdvQ-unsplash\ 2.png);
}
.slogan {
  font-size: 68px;
  color: #fff;
  margin: 20px;
}
@media (max-width: 768px) {
  .slogan-wrapper {
    height: 120px;
    border-radius: 10px;
    margin:20px 0;
  }
  .slogan {
    font-size: 32px;
  }

  
}

@media (max-width: 500px) {
  .slogan {
    font-size: 24px;
  }
  .slogan-wrapper {
    margin:20px 0;
  }
}
