.information-section {
  margin: 30px 100px;
  position: relative;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-container {
  position: absolute;
  top:0;
  right: 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.lease-title {
  margin: 0;
  width: 70%;
  font-size: 36px;
  display: flex;
  align-items: center;
}
.lease-location {
  font-size: 18px;
}
.lease-location,
.lease-title {
  font-weight: 500;
  color: #ff6060;
}

.host-img {
  width: 50%;
  height: 64px;
  width: 64px;
  border-radius: 50px;
}
.host-name {
  text-align: right;
  max-width: 30%;
  font-size: 18px;
  color: #ff6060;
  margin-right: 10px;
}
.star-container {
  list-style: none;
  display: flex;
}

@media (max-width: 768px) {
  .information-section {
    margin: 20px;
  }
  .lease-title {
    font-size: 18px;
  }
  .lease-location {
    font-size: 14px;
  }
  .host-container {
    position:initial;
  }
  .star{
      width:15px;
      height: 15px;
  }
  .host-name {
    font-size: 12px;
  }
  .host-img {
    width: 50%;
    height: 32px;
    width: 32px;
    border-radius: 50px;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  .information-section {
    margin: 40px;
  }
  
}
