.information-section {
  position: relative;
}
.title-container {
  margin-top:15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-container{
  display: flex;
  align-items: center;
  justify-content: end;
}


.lease-title {
  margin: 0;
  width: 50%;
  font-size: 36px;
  display: flex;
  align-items: center;
}
.lease-location {
  font-size: 18px;
}
.lease-location,
.lease-title {
  font-weight: 500;
  color: #ff6060;
}

.host-img {
  width: 50%;
  height: 64px;
  width: 64px;
  border-radius: 50px;
}
.host-name {
  text-align: right;
  max-width: 50%;
  font-size: 18px;
  color: #ff6060;
  margin-right: 10px;
}
.star-container {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.tag-list{
  margin-top: 10px;
  display:flex;
  list-style: none;
  flex-wrap: wrap;
}
.tag-item{
  background-color: #ff6060;
  color:#fff;
  font-size: 14px;
  padding:3px 30px;
  border-radius:10px;
  margin:10px 10px 10px 0;

}
.equipement-list{
  list-style: none;
}

.tag-star-container{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
 
  .lease-title {
    font-size: 18px;
  }
  .lease-location {
    font-size: 14px;
  }
  .star-container {
    justify-content: start;
  }
  .star{
      width:15px;
      height: 15px;
  }
  .host-name {
    font-size: 12px;
  }
  .host-img {
    width: 50%;
    height: 32px;
    width: 32px;
    border-radius: 50px;
  }
  .title-container {
    margin-top:15px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .host-container{
    position:absolute;
    bottom:0;
    right: 0;
  }
  .tag-star-container{
    display: block;
  }
}

@media (max-width: 900px) and (min-width: 768px) {
  
  .title-container {
    margin-top:15px;
    width: 100%;
  
  }
  
}
